<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">TP DAM - Eberth Alarcón</ion-title>
  </ion-toolbar>
  <ion-toolbar class="custom-toolbar-large">
    <ion-title size="large" class="custom-title-large">Listado de Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Listado de Dispositivos -->
  <ion-card 
    class="custom-card" 
    *ngFor="let dispositivo of dispositivos" 
    (click)="verDetalles(dispositivo.dispositivoId)">
    <ion-card-header>
      <ion-card-title>{{ dispositivo.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ubicación: {{ dispositivo.ubicacion }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
