ion-action-sheet {
    --background: #ffffff; /* Fondo blanco para el Action Sheet */
    --header-color: #3880ff; /* Color del texto del header */
    --header-font-size: 20px; /* Tamaño de fuente del header */
    --button-text-align: center; /* Centra el texto de los botones */
    --button-height: 50px; /* Ajusta la altura de los botones */
    --button-background-hover: #f0f0f0; /* Fondo al pasar el mouse sobre un botón */
  }

  