<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="dispositivo">
    <ion-card-header>
      <ion-card-title>{{ dispositivo.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <hr />
      <p *ngIf="ultimaMedicion">
        Humedad: {{ ultimaMedicion.humedad }}% <br />
        Fecha: {{ ultimaMedicion.fecha | date:'medium' }}
      </p>
      <p *ngIf="!ultimaMedicion">
        No hay mediciones disponibles.
      </p>
      <hr />
      <p><strong>Ubicación:</strong> {{ dispositivo.ubicacion }}</p> 
      <p><strong>Electroválvula:</strong> {{ dispositivo.electrovalvulaId }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" [routerLink]="'/dispositivo/' + dispositivo?.dispositivoId + '/historial'">
    Ver Historial de Mediciones
  </ion-button>
  
  <ion-button expand="block" color="primary" (click)="volverAlInicio()">
    Volver al Inicio
  </ion-button> 

  <ion-button expand="block" color="success" (click)="accionarValvula('Abierta')">
    Abrir Válvula
  </ion-button>
  <ion-button expand="block" color="danger" (click)="accionarValvula('Cerrada')">
    Cerrar Válvula
  </ion-button>
  
  
  
</ion-content>
